bin/
obj/
packages/
*.name
.idea/
!NuGet.exe

*.suo
*.user
*.orig
.gitattributes
archive/
references.*.targets
*.css
*.map
.vs
*.datasource
*.dll
CMF_FrontEnd/Modular.WebHost/assets/package-lock.json
node_modules/
LogFiles/
*.txt
CMF_FrontEnd/Modular.WebHost/assets/init.min.js
CMF_FrontEnd/Magick.NET.net40.7.10.1.0/